
.content-menu a:nth-child(5) {
   border: 2px solid blue;
   color: blue;
}

#select-1 {
   margin: 20px;
}

.modify {
   font-size: 30px;
   color: red;
}

.container {
   min-height: 120px;
   padding: 20px;
   background-color: #cfaaaa;
}

.inner {

}